html,body {
    height: 100%;
    font-size: 14px !important;
}
body {
    display: flex;
    flex-direction: column;
}
footer {
    flex-shrink: 1;
    border-top: 1px solid #485fc74f;
}

.page-content {
    flex: 1 0 auto;
}

body,html,button,input[type="submit"] {
    font-family: 'Ubuntu', sans-serif !important;
}
textarea,input[type="text"] {
    font-family: 'Fira Code', monospace !important;
}

.fill-height {
    height: 100% !important;
}

.dp-modal {
    z-index: 100;
}

.dp {
    line-height: 0 !important;
}

.flex {
    display: flex !important;
    flex-direction: column;
}

.is-two-thirds .message .message-body {
    resize: vertical;
    overflow: auto;
    min-height: 12em;
    max-height: 80em;
}

.is-two-thirds {
    resize: vertical !important;
    overflow: auto !important;
    min-height: 12em;
    max-height: 90em;
}
/* 
#clip-content {
    resize: vertical;
    height: max-content;
} */

.textarea:not([rows]) {
    max-height: 80em !important;
    min-height: 8em;
    resize: none;
}